.meetup__card {
  position: relative;
  max-width: 1300px;
  border: 0.3px solid var(--primary-color, #b4b4c0);
  background: var(--default-color, #2c2c2c);
  padding: 15px 20px;
  margin-top: 30px;
  overflow: hidden;
  @media (width < 500px) {
    padding: 10px 10px;
  }
}

.held {
  filter: opacity(0.5);
}

.mat-mdc-card-header {
  display: flex;
  justify-content: space-between;
}
.flex__wrapper {
  display: flex;
  justify-content: space-between;
}

.title__wrapper {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  @media (width < 550px) {
    flex-direction: column;
  }
}
.time__wrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  @media (width < 550px) {
    flex-direction: column;
  }
}

.meetup__title {
  color: var(--bold-color, #e9e9e9);
  font-size: 24px;
  font-family: "Cherry Bomb One", cursive;
  display: flex;
  align-items: flex-start;
  max-width: 800px;
  @media (width < 750px) {
    font-size: 15px;
  }
}

.meetup__sub {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--accent-color, #b85526);
  text-align: center;
  display: flex;
  align-items: center;
  @media (width < 750px) {
    font-size: 12px;
  }
}

.meetup__date,
.meetup__time {
  color: var(--bold-color, #e9e9e9);
  font-size: 24px;
  font-family: "Cherry Bomb One", cursive;
  @media (width < 750px) {
    font-size: 15px;
  }
}
.meetup__descr {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--primary-color, #b4b4c0);
  max-width: 800px;
  word-break: break-all;
  @media (width < 750px) {
    font-size: 12px;
  }
}
.meetup__go {
  cursor: pointer;
  width: 160px;
  height: 50px;
  color: var(--bold-color, #e9e9e9);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  background: var(--secondary-color, #4c3f78);
  box-shadow: 0px 4px 4px 0px rgba(62, 5, 4, 0.25);
  &-cancel {
    background: var(--primary-color, #b4b4c0);
    color: var(--secondary-color, #4c3f78);
  }
  &-edit {
    background: yellowgreen;
  }
  @media (width < 500px) {
    font-size: 12px;
    width: 100px;
    height: 35px;
  }
}
.meetup__btn__wrapper {
  justify-content: end;
  column-gap: 10px;
  @media (width < 500px) {
    justify-content: space-between;
    padding: 0 0;
  }
}
.meetup__expand {
  cursor: pointer;
  display: flex;
  width: 70px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--accent-color, #b85526);
  @media (width < 500px) {
    font-size: 12px;
    width: 50px;
    height: 35px;
  }
}
.meetup__location {
  color: var(--bold-color, #e9e9e9);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  @media (width < 750px) {
    font-size: 12px;
  }
}
.descr__wrapper {
  display: flex;
  justify-content: space-between;
}

.extendable__content {
  width: 100%;
}

.meetup__water {
  margin-top: 20px;
  color: var(--primary-color, #b4b4c0);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  width: 80%;
  text-align: justify;
  @media (width < 750px) {
    font-size: 12px;
  }
}
.meetup__subtitle {
  margin-top: 20px;
  color: var(--bold-color, #e9e9e9);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  @media (width < 750px) {
    font-size: 15px;
  }
}
.meetup__target {
  padding-left: 10px;
  margin-top: 5px;
  color: var(--primary-color, #b4b4c0);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  @media (width < 750px) {
    font-size: 12px;
  }
}
.author__wrapper {
  margin-top: 20px;
  display: flex;
}
button:disabled,
button[disabled] {
  cursor: default;
  border: 1px solid #999999;
  background-color: #a5a5a5;
  color: #666666;
}
