<nav>
  <div class="img__small">
    <img src="../../assets/league.svg" alt="league">
  </div>
  <div class="img__wrapper">
    <div class="nav__meetup">
      <img src="../../assets/MeetUps.png" alt="MeetUps">
    </div>
    <div class="logo__wrapper">
      <div>
        <img src="../../assets/philosophy.png" alt="philosophy">
      </div>
      <div>
        <img src="../../assets/league.png" alt="league">
      </div>
    </div>
  </div>
  <div *ngIf="isLogged" class="buttons__wrapper">
    <a [class.active]="!authService.isFiltered && !authService.isOnAdminPage" (click)="openAllMeetups()"><span
        class="ordinary">All meetups</span> <span class="small">All</span></a>
    <a [class.active]="authService.isFiltered && !authService.isOnAdminPage" (click)="openMyMeetups()"><span
        class="ordinary">My meetups</span> <span class="small">My</span></a>
    <a [class.active]="authService.isOnAdminPage" *ngIf="isAdmin" (click)="admin()">Users</a>
  </div>
  <div *ngIf="isLogged" class="icons__wrapper">
    <div class="icon"><img src="../../assets/settings.svg" alt="settings"></div>
    <div class="icon" (click)="logout()"><img src="../../assets/logout.svg" alt="logout"></div>
  </div>
</nav>