<div class="login__wrapper">
  <form class="login__form" [formGroup]="loginForm">
    <input class="login__input" placeholder="Login" type="text" id="email" formControlName="email" />
    <span class="login__error" *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched">Enter valid
      email! (example: example@mail.ru)</span>
    <input class="login__input" placeholder="Password" type="password" id="password" formControlName="password" />
    <span class="login__error" *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">
      Password must exist
    </span>
    <div class="login__buttons">
      <a class="login__register" (click)="goToRegisterPage()">How to create account?</a>
      <button *ngIf="loginForm.get('password')?.valid && loginForm.get('email')?.valid" class="login__button"
        type="submit" (click)="login()">Log in</button>
      <button disabled *ngIf="!loginForm.get('password')?.valid || !loginForm.get('email')?.valid" class="login__button"
        type="submit" (click)="login()">Log in</button>
    </div>
    <span class="login__error" *ngIf="!isRegistered">
      {{message}}
    </span>
  </form>
</div>