.meetup__form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 95%;
  margin: 30px auto;
  max-width: 1300px;
  min-height: calc(100vh - 120px);
  padding: 20px 175px;
  border: 0.3px solid var(--primary-color, #b4b4c0);
  background: var(--default-color, #2c2c2c);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  @media (width < 1200px) {
    padding: 20px 20px;
  }
}
.form__title {
  color: var(--bold-color, #e9e9e9);
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.input__wrapper {
  display: flex;
  width: 100%;
  column-gap: 40px;
  justify-content: start;
  label {
    display: block;
    width: 130px;
    color: var(--bold-color, #e9e9e9);
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    @media (width < 500px) {
      font-size: 12px;
      width: 90px;
    }
  }
  .meetup__form__input {
    color: var(--bold-color, #e9e9e9);
    border-radius: 3px;
    border: 3px solid var(--secondary-color, #4c3f78);
    background-color: transparent;
  }
  &-special {
    justify-content: end;
    @media (width < 1000px) {
      margin-top: 30px;
      justify-content: flex-start;
    }
  }
  @media (width < 500px) {
    column-gap: 10px;
  }
}
.meetup__form__submit {
  display: block;
  cursor: pointer;
  width: 160px;
  height: 50px;
  color: var(--bold-color, #e9e9e9);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  background: var(--secondary-color, #4c3f78);
  box-shadow: 0px 4px 4px 0px rgba(62, 5, 4, 0.25);
}
.cancel {
  background: yellowgreen;
  color: var(--secondary-color, #4c3f78);
}
.delete {
  background: var(--accent-color, #b85526);
}
button:disabled,
button[disabled] {
  cursor: default;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.meetup__error {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: red;
}
.button__wrapper {
  display: flex;
  justify-content: end;
  column-gap: 20px;
}
.wide {
  width: 100%;
}
textarea {
  resize: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding-left: 10px;
}
input {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding-left: 10px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.date__wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  @media (width < 1000px) {
    flex-direction: column;
  }
}
.small {
  width: 260px;
  @media (width < 400px) {
    width: 100%;
  }
}
.medium {
  width: 500px;
}
